<div id="container" {{bind-attr class="showingResults"}}>
  <div id="inner-container">

  <div id="players">
    <div id="timelineMixImageCell">
        {{partial 'icons/logo'}}
    </div>

    <div id="timeline" {{bind-attr class="showingResults:disabled:enabled"}}>
      <!-- 2010s -->
      <div class="decade current-decade">
        {{view 'year' prelink="20" link="15" year="2015" }}
        {{view 'year' link="14" year="2014" }}
        {{view 'year' link="13" year="2013" }}
        {{view 'year' link="12" year="2012" }}
        {{view 'year' link="11" year="2011" }}
        {{view 'year' prelink="20" link="10" year="2010" }}
      </div>

      <!-- 00s -->
      <div class="decade">
        {{view 'year' prelink="20" link="09" year="2009" }}
        {{view 'year' link="08" year="2008" }}
        {{view 'year' link="07" year="2007" }}
        {{view 'year' link="06" year="2006" }}
        {{view 'year' link="05" year="2005" }}
        {{view 'year' link="04" year="2004" }}
        {{view 'year' link="03" year="2003" }}
        {{view 'year' link="02" year="2002" }}
        {{view 'year' link="01" year="2001" }}
        {{view 'year' prelink="20" link="00" year="2000" }}
      </div>

      <!-- 90s -->
      <div class="decade">
        {{view 'year' prelink="19" link="99" year="1999" }}
        {{view 'year' link="98" year="1998" }}
        {{view 'year' link="97" year="1997" }}
        {{view 'year' link="96" year="1996" }}
        {{view 'year' link="95" year="1995" }}
        {{view 'year' link="94" year="1994" }}
        {{view 'year' link="93" year="1993" }}
        {{view 'year' link="92" year="1992" }}
        {{view 'year' link="91" year="1991" }}
        {{view 'year' prelink="19" link="90" year="1990" }}
      </div>

      <!-- earlier/other -->
      <div class="decade">
        {{view 'year' prelink="19" link="89" year="1989" }}
        {{view 'year' prelink="19" link="88" year="1988" }}
      </div>
    </div>
  </div>
  {{#if showingResults}}
  {{ view 'year-select'  }}
  {{/if}}
  </div>
</div>

<div id="broadcasts-by-month" {{ action 'swipeAway' on="swipeRight"}} {{bind-attr class=":sidepanel showingResults:enabled:disabled"}}>

  {{#if hasHighlights}}
    <p id="highlights" {{action 'viewFeatured'}}>
      View {{#if getHighlights }}all{{else}}{{controller.year}} highlights{{/if}}
    </p>
  {{/if}}

  {{#each group in groupedContent}}
    <div class="month">
    <h2>{{group.group.key}}</h2>
    {{#each cont in group.content}}
      {{render "sidepanel-mix" cont}}
    {{/each}}
    </div>
  {{else}}
    <p>Sorry, no shows for this year are available yet.</p>
  {{/each}}
</div>








