<span {{action 'doToggle' target=view }}>
{{#if view.isPlaying}}
    <svg {{ bind-attr src="mixStyle" class="showingTracks:mobdisabled:mobenabled" }} x="0px" y="0px" fill="#ffffff" viewBox="0 0 150 150" enable-background="new 0 0 150 150" xml:space="preserve">
    <path d="M70.014,64.557c-1.381,0-2.5,1.119-2.5,2.5v15.401c0,1.381,1.119,2.5,2.5,2.5s2.5-1.119,2.5-2.5V67.057
    C72.514,65.676,71.395,64.557,70.014,64.557z M79.562,64.557c-1.381,0-2.5,1.119-2.5,2.5v15.401c0,1.381,1.119,2.5,2.5,2.5
    s2.5-1.119,2.5-2.5V67.057C82.062,65.676,80.943,64.557,79.562,64.557z M123.539,60.305h-4.404v29.352h4.404
    c8.408,0,14.994-6.446,14.994-14.675C138.533,66.066,132.648,60.305,123.539,60.305z M135.113,33.552
    c-9.336-13.508-23.107-23.71-39.211-28.512v84.616h14.828v2.393H93.455V4.355C87.564,2.821,81.385,2,75.013,2
    C46.236,2,21.352,18.65,9.458,42.84C4.685,52.547,2,63.466,2,75.014c0,39.895,31.998,72.311,71.729,72.998V96.699h-8.257v-2.395
    h18.959v2.395h-8.259v51.312c18.285-0.285,34.938-7.291,47.601-18.658c0.41-0.367,0.813-0.744,1.217-1.121h-12.645V94.096h2.446
    v31.745h12.621c0.869-0.897,1.724-1.81,2.545-2.75c0.149-0.173,0.304-0.345,0.451-0.521c10.979-12.775,17.614-29.393,17.614-47.558
    C148.025,59.613,143.254,45.329,135.113,33.552z M39.539,87.419l-0.288-0.466l1.45-1.926l0.628,0.927
    c1.868,2.755,4.166,4.094,7.025,4.094c4.181,0,6.991-2.39,6.991-5.946c0-2.559-0.834-5.758-7.337-7.812
    c-5.372-1.679-7.984-4.785-7.984-9.496c0-5.64,4.581-9.01,9.011-9.01c3.418,0,5.413,1.277,6.485,2.349l0.449,0.449l-1.283,2.066
    l-0.714-0.744c-1.184-1.235-2.541-1.738-4.684-1.738l-0.291,0.003c-3.143,0.058-6.483,2.289-6.483,6.311
    c0,3.954,1.75,6.001,6.458,7.555c6.129,1.992,8.864,5.081,8.864,10.017c0,4.937-3.92,8.382-9.533,8.382
    C44.547,92.432,41.599,90.745,39.539,87.419z M66.446,120.25c0,4.957-3.938,8.42-9.576,8.42c-3.772,0-6.734-1.693-8.803-5.036
    l-0.288-0.466l1.452-1.93l0.628,0.927c1.878,2.771,4.188,4.116,7.063,4.116c4.205,0,7.031-2.402,7.031-5.979
    c0-2.573-0.839-5.791-7.377-7.854c-5.397-1.688-8.021-4.808-8.021-9.541c0-5.666,4.602-9.052,9.051-9.052
    c3.437,0,5.44,1.283,6.516,2.359l0.448,0.449l-1.286,2.07L62.57,97.99c-1.191-1.242-2.556-1.75-4.711-1.75l-0.291,0.004
    c-3.161,0.061-6.52,2.305-6.52,6.348c0,3.977,1.76,6.035,6.493,7.596C63.699,112.189,66.446,115.293,66.446,120.25z M74.938,92.471
    c-9.645,0-17.492-7.846-17.492-17.491s7.847-17.491,17.492-17.491c9.644,0,17.492,7.847,17.492,17.491
    C92.43,84.625,84.582,92.471,74.938,92.471z M97.639,128.164H85.996V94.238H97.6v2.393h-9.158v9.176h8.746v2.394h-8.746v17.571
    h9.197V128.164z M110.686,128.164H99.045V94.238h11.604v2.393h-9.157v9.176h8.745v2.394h-8.745v17.571h9.194V128.164z
     M114.814,92.049h-2.445V57.911h2.445V92.049z M123.539,92.049h-6.852V57.911h6.852c10.463,0,17.492,6.859,17.492,17.07
    C141.033,84.552,133.35,92.049,123.539,92.049z"/>
</svg>

<svg {{ bind-attr src="mixStyle" class=":small showingTracks:mobdisabled:mobenabled" }} x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
<path fill="#ffffff" d="M16,0C7.164,0,0,7.164,0,16c0,8.837,7.164,16,16,16s16-7.163,16-16C32,7.164,24.836,0,16,0z M16,30
    C8.28,30,2,23.721,2,16C2,8.28,8.28,2,16,2c7.721,0,14,6.28,14,14C30,23.721,23.721,30,16,30z"/>
<path d="M13,10.5c-0.829,0-1.5,0.671-1.5,1.5v8c0,0.828,0.671,1.5,1.5,1.5s1.5-0.672,1.5-1.5v-8C14.5,11.171,13.829,10.5,13,10.5z
     M19,10.5c-0.828,0-1.5,0.671-1.5,1.5v8c0,0.828,0.672,1.5,1.5,1.5s1.5-0.672,1.5-1.5v-8C20.5,11.171,19.828,10.5,19,10.5z"/>
</svg>

{{else}}
    <svg {{ bind-attr src="mixStyle" class="showingTracks:mobdisabled:mobenabled" }} x="0px" y="0px" viewBox="0 0 150 150" enable-background="new 0 0 150 150" xml:space="preserve">
<path fill="#ffffff" d="M135.1,33.546c-9.336-13.508-23.108-23.71-39.211-28.512V89.65h14.828v2.393H93.441V4.349
    c-5.892-1.534-12.07-2.355-18.442-2.355c-28.777,0-53.661,16.65-65.555,40.84C4.671,52.541,1.986,63.46,1.986,75.008l0,0
    c0,39.895,31.998,72.311,71.729,72.998V96.693h-8.257V94.3h18.959v2.394H76.16v51.313c18.285-0.286,34.938-7.291,47.599-18.659
    c0.41-0.367,0.815-0.744,1.218-1.121h-12.645V94.09h2.447v31.745H127.4c0.869-0.897,1.723-1.81,2.545-2.75
    c0.15-0.173,0.303-0.345,0.451-0.521c10.979-12.775,17.615-29.392,17.615-47.558l0,0C148.012,59.607,143.24,45.323,135.1,33.546z
     M39.525,87.413l-0.288-0.466l1.45-1.926l0.628,0.927c1.868,2.755,4.166,4.094,7.025,4.094c4.181,0,6.991-2.39,6.991-5.946
    c0-2.559-0.834-5.758-7.337-7.812c-5.372-1.679-7.984-4.785-7.984-9.496c0-5.64,4.581-9.01,9.011-9.01
    c3.418,0,5.413,1.277,6.485,2.349l0.449,0.449l-1.283,2.066l-0.714-0.744c-1.184-1.235-2.541-1.738-4.684-1.738l-0.291,0.003
    c-3.143,0.058-6.483,2.289-6.483,6.311c0,3.954,1.75,6.001,6.458,7.555c6.129,1.993,8.864,5.081,8.864,10.017
    s-3.92,8.381-9.533,8.381C44.533,92.426,41.585,90.739,39.525,87.413z M66.432,120.244c0,4.957-3.938,8.42-9.576,8.42
    c-3.772,0-6.734-1.694-8.803-5.036l-0.288-0.466l1.452-1.93l0.628,0.927c1.878,2.771,4.188,4.116,7.063,4.116
    c4.205,0,7.031-2.402,7.031-5.979c0-2.573-0.839-5.791-7.377-7.854c-5.397-1.688-8.021-4.808-8.021-9.541
    c0-5.666,4.602-9.051,9.051-9.051c3.437,0,5.44,1.282,6.516,2.359l0.448,0.449l-1.286,2.07l-0.714-0.744
    c-1.191-1.242-2.556-1.75-4.711-1.75l-0.291,0.004c-3.161,0.06-6.52,2.305-6.52,6.348c0,3.977,1.76,6.035,6.493,7.596
    C63.685,112.184,66.432,115.287,66.432,120.244z M74.924,92.465c-9.645,0-17.492-7.846-17.492-17.491s7.847-17.491,17.492-17.491
    c9.645,0,17.492,7.847,17.492,17.491C92.416,84.619,84.568,92.465,74.924,92.465z M97.624,128.158H85.982V94.232h11.604v2.393
    h-9.158v9.175h8.746v2.394h-8.746v17.572h9.196V128.158z M110.672,128.158H99.031V94.232h11.603v2.393h-9.157v9.175h8.746v2.394
    h-8.746v17.572h9.195V128.158z M114.801,92.043h-2.445V57.905h2.445V92.043z M123.525,92.043h-6.853V57.905h6.853
    c10.463,0,17.492,6.859,17.492,17.07C141.02,84.546,133.335,92.043,123.525,92.043z M123.525,60.299h-4.405V89.65h4.405
    c8.408,0,14.994-6.446,14.994-14.675C138.52,66.06,132.635,60.299,123.525,60.299z M86.85,74.215L69.056,63.944
    c-0.28-0.162-0.625-0.162-0.905,0c-0.28,0.161-0.453,0.461-0.453,0.784v20.545c0,0.321,0.173,0.621,0.453,0.783
    c0.14,0.079,0.297,0.12,0.453,0.12c0.157,0,0.312-0.041,0.454-0.12L86.85,75.785c0.278-0.161,0.451-0.462,0.451-0.784
    C87.301,74.676,87.128,74.377,86.85,74.215z"/>
</svg>

<svg {{ bind-attr src="mixStyle" class=":small showingTracks:mobdisabled:mobenabled" }} x="0px" y="0px"
     width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
<path fill="#ffffff" d="M16,0C7.164,0,0,7.164,0,16c0,8.837,7.164,16,16,16s16-7.163,16-16C32,7.164,24.836,0,16,0z M16,30
    C8.28,30,2,23.721,2,16C2,8.28,8.28,2,16,2c7.721,0,14,6.28,14,14C30,23.721,23.721,30,16,30z M25.808,15.323L10.472,6.471
    c-0.242-0.139-0.539-0.139-0.78,0c-0.241,0.139-0.39,0.397-0.39,0.676v17.707c0,0.277,0.149,0.535,0.39,0.675
    c0.121,0.069,0.256,0.104,0.391,0.104c0.135,0,0.269-0.035,0.391-0.104l15.334-8.854c0.239-0.139,0.389-0.398,0.389-0.676
    C26.196,15.721,26.047,15.463,25.808,15.323z"/>
</svg>
{{/if}}
</span>