<div id="tracks-in-mix" {{bind-attr class=":sidepanel showingTracklisting:panel-open:panel-closed"}}>
	{{#if playing}}
	{{else}}
	{{/if}}
	<div>
		<p>{{formatted-date model.broadcast_date 'DD-MM-YY'}}</p>
		<p>{{model.session_name}}</p>	
	</div>

	<div class="tabs">
		<p {{bind-attr class="showingTracks:current"}}{{ action 'toggleTracks'}}><b>Tracklist</b></p>
		<p {{bind-attr class="showingTracks::current"}}{{ action 'toggleSynopsis'}}><b>Synopsis</b></p>
	</div>
	<div {{bind-attr class="showingTracks:disabled:enabled"}}>{{model.altnotes}}</div>

	<div {{bind-attr class="showingTracks:enabled:disabled"}}>
		{{#each mix in model.mixes}}
			<h2><b>Part {{mix.part}}</b> {{mix.name}}</h2>
			{{#each track in mix.tracks}}
		    	<p>{{twofigurecounter _view.contentIndex}} &nbsp;&nbsp; <b>{{ track.title }}</b> / {{ track.artist }} / {{ track.recordLabel }}</p>
		  	{{else}}
		    	<p>No tracks found.</p>
		  	{{/each}}
		{{else}}
			<p>No mixes found.</p>
		{{/each}}
	</div>
</div>