<div id="tracks-in-mix" {{bind-attr class=":sidepanel hasBeenOpened showingTracks:panel-open:panel-closed"}}>
	<div class="mix-in-sidepanel">
		<div>
			<img src="{{unbound controller.rootpath}}{{unbound model.image}}" width="80" height="80"/>
		</div>
		<div>
			<p>{{ formatted-date model.broadcast_date 'DD-MM-YY' }}</p>
			<p class="mixTitle">{{model.session_name}}</p>
		</div>
	</div>

	<div class="tabs">
		<p {{bind-attr class="showingTracksTab:current"}}{{ action 'toggleTracks'}}>Tracklist</p>
		<p {{bind-attr class="showingTracksTab::current"}}{{ action 'toggleSynopsis'}}>Synopsis</p>
	</div>
	<div {{bind-attr class="showingTracksTab:disabled:enabled"}}>
		{{#if model.altnotes}}
		{{break-lines model.altnotes}}
		{{else}}
		No mix notes yet…
		{{/if}}
		<div class="sc-links">
			
			{{#if model.mixes.firstObject.secret}}{{else}}
			{{#if model.mixes.firstObject.soundcloudId}}
			<p>You can also listen to this mix on</p>
			<p>
			<a target="_blank" href="http://soundcloud.com/ninja-tune">SOUNDCLOUD (HOUR 1)</a>
			</p>
			{{/if}}
			{{#if model.mixes.lastObject.soundcloudId}}
			<p>
			<a target="_blank" href="http://soundcloud.com/ninja-tune">SOUNDCLOUD (HOUR 2)</a>
			</p>
			{{/if}}
			{{#if model.mixes.firstObject.mixcloudId}}
			<p>
			<a target="_blank" href="http://mixcloud.com/">MIXCLOUD (HOUR 1)</a> &ndash;
			</p>
			{{/if}}
			{{#if model.mixes.lastObject.mixcloudId}}
			<p>
			<a target="_blank" href="http://mixcloud.com/">MIXCLOUD (HOUR 2)</a>
			 </p>
			{{/if}}
			{{/if}}
		</div>
	</div>

	<div {{bind-attr class="showingTracksTab:enabled:disabled"}}>
		{{#each mix in model.mixes}}
			<h2><b>Part {{mix.part}}</b> {{mix.name}}</h2>
			{{#each track in mix.tracks}}
		    	<p>{{two-figure-counter _view.contentIndex}}&nbsp;<b>{{ track.title }}</b> / {{ track.artist }} / {{ track.recordLabel }}</p>
		  	{{else}}
		    	<p>No tracks found.</p>
		  	{{/each}}
		{{else}}
			<p>No mixes found.</p>
		{{/each}}
	</div>
</div>