<nav class="wide">
	{{ view 'playpause' }}
	
	<span>
	{{#link-to "search"}}
		{{partial 'icons/search'}}
	{{/link-to}}
	</span>

	<span>
	{{#link-to "broadcasts" (query-params year="null")}}
		{{partial 'icons/timeline'}}
	{{/link-to}}
	</span>
</nav>

{{outlet}}

<nav id="extra" {{ bind-attr class="showingTracks:mobLeft" }}>
		{{#link-to "a-z.letter" 'A'}}
			{{partial 'icons/az'}}
		{{/link-to}}
		{{#link-to "about"}}
		{{partial 'icons/about'}}
		{{/link-to}}
</nav>

<nav id="featured">
 {{#link-to "broadcasts" (query-params year="2015")}}
	<p id="feat-link">LATEST MIXES</p>
 {{/link-to}}
 {{#link-to "contact"}}
	<p id="sub-link">CONTACT</p>
 {{/link-to}}
</nav>

<nav id="social" class="wide">
	{{partial 'icons/sponsor'}}
</nav>

<div {{ bind-attr style="myStyle"}}>
</div>
