{{model}}
<div id="latest" class="playDetails">
  <h1>{{model.session_name}}</h1>
  <ul>
  {{#each mix in mixes}}
    <li>- {{mix.name}}</li>
  {{else}}
  <li>No mixes found.</li>
  {{/each}}
  </ul>
</div>

{{#each mix in model.mixes}}
<div id="play" class="play">    
</div>
{{/each}}

{{#link-to "tracks" id="btn-tracklisting"}}<span>+TRACKLIST</span>{{/link-to}}


{{outlet}}
