<div id="playDetails" {{ bind-attr class="showingTracks:disabled:enabled"}}>
	<p><b>NOW PLAYING</b></p>
	<p>{{formatted-date model.broadcast_date 'DD-MM-YY'}} {{model.session_name}}</p>	
</div>

<div id="container">
	<div id="inner-container">
		<div id="players">
			<div id="mixImageCell">
				{{partial 'icons/logo'}}
			</div>
			{{#each mix in model.mixes}}
			{{ render 'mix' mix }}
			{{/each}}
		</div>

		<p {{action 'toggleTrax'}} {{bind-attr class="showingTracks"}} id="btn-tracklisting"><span>{{plusMinus}}TRACKLIST</span></p>
	</div>
</div>

{{outlet}}