<div id="playDetails" {{ bind-attr class="showingTracks:disabled:enabled"}}>
	<p><b>NOW PLAYING</b></p>
	<p>{{formatted-date model.broadcast_date 'DD-MM-YY'}}</p>	
	<p>{{model.session_name}}</p>
	{{#if model.mixes.firstObject.soundcloudId}}{{else}}<p class="warning">Sorry! There is no audio for this mix yet…</p>{{/if}}
</div>

<div style="height: 100%" {{bind-attr class="showingFeaturedListing:btn-featured-panel-open:btn-featured-panel-closed showingTracks:btn-panel-open:btn-panel-closed"}}>
<div id="container" style="display: block;">
	<div id="inner-container" style="display: block; height: 100%;">
		<div id="players" style="display: table; height: 100%;">
			<div id="mixImageCell">
				{{partial 'icons/logo'}}
			</div>
			{{#each mix in model.mixes}}
			{{ render 'mix' mix }}
			{{/each}}
			<div id="featured-section" {{bind-attr class="showingFeaturedListing:featured-panel-open:featured-panel-closed showingTracks:featured-panel-closed"}}>
				{{#each featured in featureds}}
				<div>
					<div style="position: relative;">
						{{#link-to 'broadcast' featured.id}}<img src="{{unbound controller.rootpath}}{{unbound featured.background_image_thumb_url}}" width="100%"/>
						{{ partial 'icons/play'}}
						{{/link-to}}
					</div>
					<div>
						<p class="mixTitle">{{#link-to 'broadcast' featured.id}}{{featured.session_name}}{{/link-to}}</p>
					</div>
				</div>
				{{/each}}
			</div>
		</div>

		<div id="buttons" {{bind-attr class="showingTracks showingFeatured"}}>
			<p {{action 'toggleTrax'}} id="btn-tracklisting"><span>{{plusMinus}}TRACKLIST</span></p>
			<p {{action 'toggleFeatured'}} id="btn-featured"><span>{{featuredPlusMinus}}FEATURED</span></p>
		</div>
	</div>
</div>

{{outlet}}

</div>