<div id="playDetails">
	<p><b>NOW PLAYING</b></p>
	<p>{{formatted-date model.broadcast_date 'DD-MM-YY'}} {{model.session_name}}</p>	
</div>

<div id="container" {{bind-attr class="showingTracks"}}>
	<div id="inner-container">
		<div id="players">
		{{#each mix in model.mixes}}
			<div class="player">
				<p>01:38</p>
				<p class="wave"></p>
				<p>PART {{mix.part}}</p>
				<p>{{mix.name}}</p>
			</div>

		{{/each}}
		</div>

		<p {{action 'toggleTrax'}} id="btn-tracklisting"><span>{{plusMinus}}TRACKLIST</span></p>



	</div>
</div>

{{outlet}}