<div id="playDetails">
	<p><b>NOW PLAYING</b></p>
	<p>{{formatted-date model.broadcast_date 'DD-MM-YY'}} {{model.session_name}}</p>	
</div>

<div id="container" {{bind-attr class="showingTracks"}}>
	<div id="inner-container">

		<img {{ bind-attr src="mixStyle" }} />
		
		<div id="players">
		{{#each mix in model.mixes}}
			{{ render 'mix' mix }}
		{{/each}}
		</div>

		<p {{action 'toggleTrax'}} id="btn-tracklisting"><span>{{plusMinus}}TRACKLIST</span></p>
	</div>
</div>

{{outlet}}