<div id="playDetails">
	<p><b>NOW PLAYING</b></p>
	<p>{{formatted-date model.broadcast_date 'DD-MM-YY'}} {{model.session_name}}</p>	
</div>

<div id="container" {{bind-attr class="showingTracks"}}>
	<div id="inner-container">

		
		
		<div id="players">
			<div id="mixImageCell">
				<img id="mixImage" {{ bind-attr src="mixStyle" }} />
			</div>
			{{ render 'mix' model.mixes.firstObject }}
			{{ render 'mix' model.mixes.lastObject }}
		
		</div>

		<p {{action 'toggleTrax'}} id="btn-tracklisting"><span>{{plusMinus}}TRACKLIST</span></p>
	</div>
</div>

{{outlet}}