	<div class="mix-in-sidepanel">
		<div {{action 'playBroadcast' model}}>
			{{#if view.hover}}
			<div class="play-button">
				{{partial 'icons/play'}}
			</div>
			{{/if}}
			<img src="{{unbound controller.rootpath}}{{unbound model.image}}" width="80" height="80"/>
		</div>
		<div>
			<p>{{ formatted-date model.broadcast_date 'DD-MM-YY' }}</p>
			<p class="mixTitle">{{model.session_name}}</p>
			<p class="sc-meta">? PLAYS</p>
		</div>
		{{#if view.hasTracks}}
			{{partial 'icons/minus'}}
		{{else}}
			{{#if view.hover}}
			{{partial 'icons/add'}}
			{{/if}}
		{{/if}}
	</div>

	{{#if view.hasTracks}}
		<div id="tracks-in-mix">
		{{#each mix in model.mixes}}
			<h2><b>Hour {{mix.part}}</b> {{mix.name}}</h2>
			{{#each track in mix.tracks}}
		    	<p>{{two-figure-counter _view.contentIndex}}&nbsp;<b>{{ track.title }}</b> / {{ track.artist }} / {{ track.recordLabel }}</p>
		  	{{else}}
		    	<p>No tracklist available...</p>
		  	{{/each}}
		{{/each}}
		</div>
	{{/if}}