<div {{bind-attr class=":player model.isCurrent"}}>
	<p>
    {{#if model.searching }}
    {{ formatted-time model.searchTime }}
    {{else}}
    {{ formatted-time model.progress }}
    {{/if}}
    </p>
	{{ render 'audiowave' model }}
	<p {{action 'makeCurrent' model }}>PART {{model.part}}</p>
	<p {{action 'makeCurrent' model }}>{{model.name}}</p>
</div>