<div {{bind-attr class=":player model.isCurrent"}}>
	<p>{{ formatted-time model.duration }}</p>
	{{ view 'audiowave' model }}
	<p {{action 'makeCurrent' model }}>PART {{model.part}}</p>
	<p {{action 'makeCurrent' model }}>{{model.name}}</p>
</div>