{{#if controller.noPlayLink}}
    <p {{action 'doToggle' target=view }}>
        {{#if view.isPlaying}}
            {{partial 'icons/pause'}}
        {{else}}
            {{partial 'icons/play2'}}
        {{/if}}
    </p>
{{else}}
    <p {{action 'doLink' }}>
        {{partial 'icons/nowplaying'}}
    </p>
{{/if}}
